<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>dist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test-echo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>test-fraggle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test-ping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test-server-extpoll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>test-server-pthreads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>test-server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>websockets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0615402CC67B44E589B03A5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3638D2928F384058A69254D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D827B3D71D34CF39C5DC186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F09E8869D6943E09884E1AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69AB437C6B114789A3BB635C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AD37A78110D4DFCA7F114F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E72543E58294661B083D512</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E9EFDAE87A84C10B62A87D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9975CA42778B45BB8C7635F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4BDD79E7D1E4C97AB77FA23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4223C72492F440888DC7994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DAE58082F17B43068236BBB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F277016B648847E7BDD9A39D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
